@model CadastroJogos.Models.Funcionario
@{
    ViewBag.Title = "Index";
}
<h3> Cadastrar Funcionario </h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fildset>
        <lengend> Cadastro de Funcionários </lengend>
        <div class="editor-label">
            @Html.LabelFor(m => m.Cod_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Cod_Func)
            @Html.ValidationMessageFor(m => m.Cod_Func)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Nome_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Nome_Func)
            @Html.ValidationMessageFor(m => m.Nome_Func)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Cpf_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Cpf_Func)
            @Html.ValidationMessageFor(m => m.Cpf_Func)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Rg_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Rg_Func)
            @Html.ValidationMessageFor(m => m.Rg_Func)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.DtNasc_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.DtNasc_Func)
            @Html.ValidationMessageFor(m => m.DtNasc_Func)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Ende_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Ende_Func)
            @Html.ValidationMessageFor(m => m.Ende_Func)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Cell_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Cell_Func)
            @Html.ValidationMessageFor(m => m.Cell_Func)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Email_Func)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Email_Func)
            @Html.ValidationMessageFor(m => m.Email_Func)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Cargo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Cargo)
            @Html.ValidationMessageFor(m => m.Cargo)
        </div>
        <div>
            <br /> <input type="submit" value="Enviar" />
        </div>
    </fildset>
}